.active { color: red; font-weight: bold; }
.full-width{ width:100%; display: block; position: relative;}
.container section{margin:30px 0;}

/* absolute positions */
.top-left{top:0; left:0;}
.top-right{top:0; right:0; }
.bottom-left{bottom:0; left:0;}
.bottom-right{bottom: 0; right: 0;}

/* banner css */
.banner-wrapper *{-webkit-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out;}
.banner-wrapper{ display: block; position: relative; overflow: hidden; margin: 0; padding: 0; background: #000000;}
.banner-text{ display: block; width: 100%; }
.banner-text h3{ padding-bottom:15px; margin-bottom:0px; border-bottom: 1px solid transparent;}
.banner-text button{background:transparent; position: relative; display: block; margin:0 auto; border:none; opacity: 0; filter: alpha(opacity=0); margin-top:10px;}

/* horizontal scoll slider */
.frame { width: 100%; height: auto; padding: 0; overflow: hidden; }
.frame .slidee { margin: 0; padding: 0; height: 100%; list-style: none; overflow: auto; overflow-y: hidden; white-space: nowrap; }
.frame .slidee li { display:inline-block; margin: 0 30px 0 0px; padding: 0; height: 100%; }
.slidee::-webkit-scrollbar{height: 4px; opacity: 0;}
.frame:hover .slidee::-webkit-scrollbar{opacity: 1;}
.slidee::-webkit-scrollbar-thumb{height:4px; width:100px; background: #777777; border-radius: 3px;}

@media screen and (min-width:1200px){
    .frame{height:400px;}
    .frame .slidee li{width:33.33%;}
    .blocktext{ margin:30px 0 30px 20%;}
    .banner-wrapper:hover img{ opacity: 0.6; filter: alpha(opacity=60); -webkit-transform: scale(1.1); transform: scale(1.1);}
    .carousel-item .banner-text{margin-bottom: 40px;}
    .banner-wrapper:hover .banner-text h3{border-bottom: 1px solid #ffffff; }
    .banner-wrapper:hover .banner-text button{opacity: 1; filter: alpha(opacity=100);}
}
@media screen and (min-width:1024px){
    .banner-text{position: absolute; padding: 10px; }
    .banner-wrapper{background: #000000;}
    .banner-text *{color:#ffffff;}
}
@media screen and (min-width:768px) and (max-width:1023px){
    .banner-wrapper{background:#ffffff;}
    .banner-text{position: relative; padding: 10px; }
    .banner-text *{color:#000000; }
}