<ul class="slidee" horizontal-scroll>
    <li>
        <a ui-sref="catalogs" class="full-width banner-wrapper">
            <img class="d-block w-100" src="http://placeimg.com/400/400/nature" alt="First slide">
            <div class="banner-text bottom-left">
                <h3 class="text-center">Catalog Banner</h3>
                <button class="text-light"><em>Read More</em></button>
            </div>
        </a>
    </li>
    <li>
        <a ui-sref="catalogs" class="full-width banner-wrapper">
            <img class="d-block w-100" src="http://placeimg.com/400/400/nature" alt="First slide">
            <div class="banner-text bottom-left">
                <h3 class="text-center">First Catalog</h3>
                <button class="text-light"><em>Read More</em></button>
            </div>
        </a>
    </li>
    <li>
        <a ui-sref="catalogs" class="full-width banner-wrapper">
            <img class="d-block w-100" src="http://placeimg.com/400/400/arch" alt="Second slide">
            <div class="banner-text bottom-left">
                <h3 class="text-center">Second Catalog</h3>
                <button class="text-light"><em>Read More</em></button>
            </div>
        </a>
    </li>
    <li>
        <a ui-sref="catalogs" class="full-width banner-wrapper">
            <img class="d-block w-100" src="http://placeimg.com/400/400/people" alt="Second slide">
            <div class="banner-text bottom-left">
                <h3 class="text-center">Third Catalog</h3>
                <button class="text-light"><em>Read More</em></button>
            </div>
        </a>
    </li>
    <li>
        <a ui-sref="catalogs" class="full-width banner-wrapper">
            <img class="d-block w-100" src="http://placeimg.com/400/400/any" alt="Second slide">
            <div class="banner-text bottom-left">
                <h3 class="text-center">Fourth Catalog</h3>
                <button class="text-light"><em>Read More</em></button>
            </div>
        </a>
    </li>
</ul>