<div class="container">
    <section>
        <header>
            <h1 class="d-lg-none d-md-block text-center">Collection Name</h1>
            <div class="full-width banner-wrapper">
                <img class="d-block w-100" src="http://placeimg.com/1200/600/animals" alt="First slide">
                <div class="banner-text half bottom-right">
                    <h3 class="text-center">Primary Slide</h3>
                    <div class="clearfix">&nbsp;</div>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                </div>
            </div>
            <div class="clearfix">&nbsp;</div>
        </header>
        <article>
            <div class="row">
                <div class="col-md-8 col-sm-12">
                    <a ui-sref="catalogs" class="full-width banner-wrapper">
                        <img class="d-block w-100" src="http://placeimg.com/700/700/animals" alt="Third slide">
                        <div class="banner-text half bottom-left">
                            <h4>Catalog Slide</h4>
                            <p>$ 2500.00</p>
                        </div>
                    </a>
                </div>
                <div class="col-md-4 col-sm-12">
                    <div class="row">
                        <div class="col-md-12 col-sm-6">
                            <a ui-sref="catalogs" class="full-width banner-wrapper">
                                <img class="d-block w-100" src="http://placeimg.com/500/500/tech" alt="Third slide">
                                <div class="banner-text half bottom-left">
                                    <h4>Catalog Slide</h4>
                                    <p>$ 1500.00</p>
                                </div>
                            </a>
                        </div>
                        <div class="clearfix d-lg-block d-md-block d-sm-none">&nbsp;</div>
                        <div class="col-md-12 col-sm-6">
                            <a ui-sref="catalogs" class="full-width banner-wrapper">
                                <img class="d-block w-100" src="http://placeimg.com/500/500/people" alt="Third slide">
                                <div class="banner-text half bottom-left">
                                    <h4>Catalog Slide</h4>
                                    <p>$ 1500.00</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix">&nbsp;</div>
            <div class="row">
                <div class="col-md-4 col-sm-12">
                    <div class="row">
                        <div class="col-md-12 col-sm-6">
                            <a ui-sref="catalogs" class="full-width banner-wrapper">
                                <img class="d-block w-100" src="http://placeimg.com/500/500/arch" alt="Third slide">
                                <div class="banner-text half bottom-left">
                                    <h4>Catalog Slide</h4>
                                    <p>$ 2500</p>
                                </div>
                            </a>
                        </div>
                        <div class="clearfix d-lg-block d-md-block d-sm-none">&nbsp;</div>
                        <div class="col-md-12 col-sm-6">
                            <a ui-sref="catalogs" class="full-width banner-wrapper">
                                <img class="d-block w-100" src="http://placeimg.com/500/500/any" alt="Third slide">
                                <div class="banner-text half bottom-left">
                                    <h4>Catalog Slide</h4>
                                    <p>$ 2500</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-8 col-sm-12">
                    <a ui-sref="catalogs" class="full-width banner-wrapper">
                        <img class="d-block w-100" src="http://placeimg.com/700/700/people" alt="Third slide">
                        <div class="banner-text half bottom-left">
                            <h4>Catalog Slide</h4>
                            <p>$ 2500</p>
                        </div>
                    </a>
                </div>
            </div>
        </article>
        <footer>
            <div class="clearfix">&nbsp;</div>
                <h2>Our Catalogs</h2>
                <div id="secondaryBanner" class="frame" ng-include src="'partials/catalogs-list.html'">
            </div>
        </footer>
    </section>
</div>