<ul class="slidee" horizontal-scroll>
    <li>
        <a ui-sref="collections" class="full-width banner-wrapper">
            <img class="d-block w-100" src="http://placeimg.com/400/400/tech" alt="First slide">
            <div class="banner-text bottom-left">
                <h4 class="text-center">Collection Slide</h4>
            </div>
        </a>
    </li>
    <li>
        <a ui-sref="collections" class="full-width banner-wrapper">
            <img class="d-block w-100" src="http://placeimg.com/400/400/people" alt="Second slide">
            <div class="banner-text bottom-left">
                <h4 class="text-center">Category Slide</h4>
            </div>
        </a>
    </li>
    <li>
        <a ui-sref="collections" class="full-width banner-wrapper">
            <img class="d-block w-100" src="http://placeimg.com/400/400/animals" alt="Third slide">
            <div class="banner-text bottom-left">
                <h4 class="text-center">Secondary Slide</h4>
            </div>
        </a>
    </li>
    <li>
        <a ui-sref="collections" class="full-width banner-wrapper">
            <img class="d-block w-100" src="http://placeimg.com/400/400/arch" alt="Third slide">
            <div class="banner-text bottom-left">
                <h4 class="text-center">Secondary Slide</h4>
            </div>
        </a>
    </li>
    <li>
        <a ui-sref="collections" class="full-width banner-wrapper">
            <img class="d-block w-100" src="http://placeimg.com/400/400/any" alt="Third slide">
            <div class="banner-text bottom-left">
                <h4 class="text-center">Secondary Slide</h4>
            </div>
        </a>
    </li>
</ul>