<div class="container">
    <section>
        <header>
            <h1 class="d-lg-none d-md-block text-center">Collection Name</h1>
            <div class="full-width">
                <img class="d-block w-100" src="http://placeimg.com/1200/600/animals" alt="First slide">
            </div>
            <div class="clearfix">&nbsp;</div>
        </header>
        <article>
            <div class="full-width">
                <div class="row">
                    <div class="d-lg-none d-md-none col-sm-12">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <figure>
                            <img class="d-block w-100" src="http://placeimg.com/500/500/animals" alt="First slide">
                            <figcaption>Collection Elements</figcaption>
                        </figure>
                    </div>
                    <div class="d-sm-none d-xs-none d-md-block col-md-6">
                        <aside>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                            <ul>
                                <li>Item 1</li>
                                <li>Item 2</li>
                                <li>Item 3</li>
                                <li>Item 4</li>
                                <li>Item 5</li>
                                <li>Item 6</li>
                            </ul>
                        </aside>
                    </div>
                </div>
                <h3>Collection Items</h3>
                <div class="row">
                    <div class="col-xs-6 col-lg-4">
                        <figure>
                            <img class="d-block w-100" src="http://placeimg.com/300/300/animals" alt="First slide">
                            <figcaption>Collection Elements</figcaption>
                        </figure>
                    </div>
                    <div class="col-xs-6 col-lg-4">
                        <figure>
                            <img class="d-block w-100" src="http://placeimg.com/300/300/animals" alt="First slide">
                            <figcaption>Collection Elements</figcaption>
                        </figure>
                    </div>
                    <div class="col-xs-6 col-lg-4">
                        <figure>
                            <img class="d-block w-100" src="http://placeimg.com/300/300/animals" alt="First slide">
                            <figcaption>Collection Elements</figcaption>
                        </figure>
                    </div>
                    <div class="col-xs-6 col-lg-4">
                        <figure>
                            <img class="d-block w-100" src="http://placeimg.com/300/300/animals" alt="First slide">
                            <figcaption>Collection Elements</figcaption>
                        </figure>
                    </div>
                    <div class="col-xs-6 col-lg-4">
                        <figure>
                            <img class="d-block w-100" src="http://placeimg.com/300/300/animals" alt="First slide">
                            <figcaption>Collection Elements</figcaption>
                        </figure>
                    </div>
                    <div class="col-xs-6 col-lg-4">
                        <figure>
                            <img class="d-block w-100" src="http://placeimg.com/300/300/animals" alt="First slide">
                            <figcaption>Collection Elements</figcaption>
                        </figure>
                    </div>
                </div>
            </div>
        </article>
        <footer>
            <div class="clearfix">&nbsp;</div>
                <h2>Our Collections</h2>
                <div id="secondaryBanner" class="frame" ng-include src="'partials/collections-list.html'">
            </div>
        </footer>
    </section>
</div>