<div class="full-width">
    <a class="full-width">
        Download PDF
    </a>
    <div class="clearfix">&nbsp;</div>
    <div class="col-md-4 col-sm-6 col-xs-12">
        <figure>
            <img src="img/logo-temp.png" class="img-fluid">
        </figure>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12">
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12">
    </div>
    <div class="clearfix">&nbsp;</div>
</div>