<div class="container">
    <section>
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="full-width banner-wrapper">
                    <img class="d-block w-100" src="http://placeimg.com/1200/600/animals" alt="First slide">
                    <div class="banner-text bottom-left">
                        <h3>Primary Slide</h3>
                        <button class="border border-secondary text-light">Read More</button>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="full-width banner-wrapper">
                    <img class="d-block w-100" src="http://placeimg.com/1200/600/arch" alt="Second slide">
                    <div class="banner-text bottom-left">
                        <h3>Primary Slide</h3>
                        <button class="border border-secondary text-light">Read More</button>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="full-width banner-wrapper">
                    <img class="d-block w-100" src="http://placeimg.com/1200/600/nature" alt="Third slide">
                    <div class="banner-text bottom-left">
                        <h3>Primary Slide</h3>
                        <button class="border border-secondary text-light">Read More</button>
                    </div>
                </div>
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
    </section>
    <section>
        <div class="frame">
            <ul class="slidee">
                <li>
                    <div class="full-width banner-wrapper">
                        <img class="d-block w-100" src="http://placeimg.com/400x400?text=Secondary Banner" alt="First slide">
                        <div class="banner-text bottom-left">
                            <h3>Secondary Slide</h3>
                            <button class="border border-secondary text-light">Read More</button>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="full-width banner-wrapper">
                        <img class="d-block w-100" src="http://placeimg.com/400x400?text=Secondary Banner" alt="Second slide">
                        <div class="banner-text bottom-left">
                            <h3>Secondary Slide</h3>
                            <button class="border border-secondary text-light">Read More</button>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="full-width banner-wrapper">
                        <img class="d-block w-100" src="http://placeimg.com/400x400?text=Secondary Banner" alt="Third slide">
                        <div class="banner-text bottom-left">
                            <h3>Secondary Slide</h3>
                            <button class="border border-secondary text-light">Read More</button>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <hr>
    </section>
    <section>
        <h3 class="text-center">Fancy display heading<br>
            <small class="text-muted">With faded secondary text</small>
        </h3>
        <div class="clearfix">&nbsp;</div>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6">
                <img class="d-block w-100" src="http://placeimg.com/600x600?text=Secondary Banner" alt="Third slide">
            </div>
            <div class="col-xs-12 col-sm-6">
                <div class="row">
                    <div class="col-xs-6 col-sm-6">
                        <img class="d-block w-100" src="http://placeimg.com/300x300?text=Secondary Banner" alt="Third slide">
                    </div>
                    <div class="col-xs-6 col-sm-6">
                        <img class="d-block w-100" src="http://placeimg.com/300x300?text=Secondary Banner" alt="Third slide">
                    </div>
                </div>
                <div class="clearfix">&nbsp;</div>
                <div class="row">
                    <div class="col-xs-6 col-sm-6">
                        <img class="d-block w-100" src="http://placeimg.com/300x300?text=Secondary Banner" alt="Third slide">
                    </div>
                    <div class="col-xs-6 col-sm-6">
                        <img class="d-block w-100" src="http://placeimg.com/300x300?text=Secondary Banner" alt="Third slide">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <header>
            <h1>About Us</h1>
        </header>
        <article>
            <div class="blocktext">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                <a ui-sref="about">Read More</a>
            </div>
        </article>
    </section>
    <section>
        <div class="frame">
            <ul class="slidee">
                <li>
                    <div class="full-width banner-wrapper">
                        <img class="d-block w-100" src="http://placeimg.com/400x400?text=Secondary Banner" alt="First slide">
                        <div class="banner-text bottom-left">
                            <h3>Category Slide</h3>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="full-width banner-wrapper">
                        <img class="d-block w-100" src="http://placeimg.com/400x400?text=Secondary Banner" alt="Second slide">
                        <div class="banner-text bottom-left">
                            <h3>Category Slide</h3>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="full-width banner-wrapper">
                        <img class="d-block w-100" src="http://placeimg.com/400x400?text=Secondary Banner" alt="Third slide">
                        <div class="banner-text bottom-left">
                            <h3>Secondary Slide</h3>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="full-width banner-wrapper">
                        <img class="d-block w-100" src="http://placeimg.com/400x400?text=Secondary Banner" alt="Third slide">
                        <div class="banner-text bottom-left">
                            <h3>Secondary Slide</h3>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="full-width banner-wrapper">
                        <img class="d-block w-100" src="http://placeimg.com/400x400?text=Secondary Banner" alt="Third slide">
                        <div class="banner-text bottom-left">
                            <h3>Secondary Slide</h3>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <hr>
    </section>
</div>