<div class="container">
    <section>
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="full-width banner-wrapper">
                    <a ui-sref="collections">
                        <img class="d-block w-100" src="http://placeimg.com/1200/600/animals" alt="First slide">
                        <div class="banner-text bottom-left">
                            <h3 class="text-center">Collection Slide</h3>
                            <button class="text-light"><em>Read More</em></button>
                        </div>
                    </a>
                </div>
            </div>
            <div class="carousel-item">
                <div class="full-width banner-wrapper">
                    <a ui-sref="catalogs">
                        <img class="d-block w-100" src="http://placeimg.com/1200/600/arch" alt="Second slide">
                        <div class="banner-text bottom-left">
                            <h3 class="text-center">Catalog Slide</h3>
                            <button class="text-light"><em>Read More</em></button>
                        </div>
                    </a>
                </div>
            </div>
            <div class="carousel-item">
                <div class="full-width banner-wrapper">
                    <a ui-sref="categories">
                        <img class="d-block w-100" src="http://placeimg.com/1200/600/nature" alt="Third slide">
                        <div class="banner-text bottom-left">
                            <h3 class="text-center">Category Slide</h3>
                            <button class="text-light"><em>Read More</em></button>
                        </div>
                    </a>
                </div>
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
    </section>
    <section>
        <div id="secondaryBanner" class="frame" ng-include src="'partials/catalogs-list.html'">
        </div>
    </section>
    <section>
        <header>
            <h1 class="text-center">Our Catalogs</h1>
        </header>
        <div class="clearfix">&nbsp;</div>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6">
                <a ui-sref="catalogs" class="full-width banner-wrapper">
                    <img class="d-block w-100" src="http://placeimg.com/600/600/people" alt="Third slide">
                    <div class="banner-text bottom-left">
                        <h3 class="text-center">Collection Uno</h3>
                        <button class="text-light"><em>Read More</em></button>
                    </div>
                </a>
            </div>
            <div class="col-xs-12 col-sm-6">
                <div class="row">
                    <div class="col-xs-6 col-sm-6">
                        <a ui-sref="catalogs" class="full-width banner-wrapper">
                            <img class="d-block w-100" src="http://placeimg.com/300/300/tech" alt="Third slide">
                            <div class="banner-text bottom-left">
                                <h4 class="text-center">Catalog Slide</h4>
                            </div>
                        </a>
                    </div>
                    <div class="col-xs-6 col-sm-6">
                        <a ui-sref="catalogs" class="full-width banner-wrapper">
                            <img class="d-block w-100" src="http://placeimg.com/300/300/animals" alt="Third slide">
                            <div class="banner-text bottom-left">
                                <h4 class="text-center">Catalog Slide</h4>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="clearfix">&nbsp;</div>
                <div class="row">
                    <div class="col-xs-6 col-sm-6">
                        <a ui-sref="catalogs" class="full-width banner-wrapper">
                            <img class="d-block w-100" src="http://placeimg.com/300/300/animals" alt="Third slide">
                            <div class="banner-text bottom-left">
                                <h4 class="text-center">Catalog Slide</h4>
                            </div>
                        </a>
                    </div>
                    <div class="col-xs-6 col-sm-6">
                        <a ui-sref="catalogs" class="full-width banner-wrapper">
                            <img class="d-block w-100" src="http://placeimg.com/300/300/tech" alt="Third slide">
                            <div class="banner-text bottom-left">
                                <h4 class="text-center">Catalog Slide</h4>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <header>
            <h1>About Us</h1>
        </header>
        <article>
            <div class="blocktext">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                <a ui-sref="about">Read More</a>
            </div>
        </article>
        <hr/>
    </section>
    <section>
        <header>
            <h1 class="text-center">Our Categories</h1>
        </header>
        <div id="categoriesContainer" class="frame" ng-include src="'partials/categories-list.html'">
        </div>
    </section>
</div>